body{
    padding: 20px,40px;
    font-family: 'Nunito', sans-serif;
}

h1{
    
    font-size: 50px;
}
.headercolor{
    color: coral;
}
section{
    display: flex;
}
.half{
    width: 50%;
    padding-left: 100px;
}
.half img{
    width: 80%;
    
}
.hire{
    padding: 6px 10px;
    color: aliceblue;
    background-color: coral;
    text-decoration: none;
    border-radius: 6px;
}
